@{
    ViewBag.Title = "Подтвердить регистрацию";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="container" style="min-height: 35em;">
    <h2 class="mt-3">@ViewBag.Title</h2>
    <p>
        На почтовый адрес выслано письмо для подтверждения регистрации.
    </p>
</div>