@{
    ViewBag.Title = "Сбросить пароль";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="container" style="min-height: 35em;">
    <h2 class="mt-3">@ViewBag.Title</h2>
    <p>
        Для сброса пароля перейдите по ссылке в письме, отправленном на ваш email.
    </p>
</div>